@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-monday-green-light: #e6f4ef;
  --color-monday-green-dark: #00854d;
  --color-monday-navy: #181b34;
  --color-monday-blue: #0073ea;
  --color-monday-blue-light: #cce3fa;
  --color-monday-yellow: #ffcb00;
  --color-monday-grey: #f4f5f7;
}

@layer base {
  html { font-family: 'Figtree', sans-serif; scroll-behavior: smooth; }
  body { @apply bg-white text-slate-900 antialiased; }
}

.card-shadow { box-shadow: 0 20px 40px -10px rgba(0,0,0,0.1); }
